{% extends "@ezdesign/ui/layout.html.twig" %}
{% trans_default_domain 'views' %}
{% block title %}{{ 'push.view.main_settings'|trans|desc('eZ Platform Push Connector Main Settings') }}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('ezplatform-push-connector-settings-js', null, 'ezplatform') }}
{% endblock %}
{% block content %}
    <div class="row align-items-stretch ez-main-row">
        <div class="px-0 ez-content-container">
            <div class="ez-header">
                <div class="container">
                    <ol class="breadcrumb px-4">
                        <li class="breadcrumb-item" title="{{ 'push__main__menu__item'|trans({},'menu') }}">
                            {{ 'push__main__menu__item'|trans({},'menu') }}
                        </li>
                        <li class="breadcrumb-item" title="{{ 'push__general__settings__item'|trans({},'menu') }}">
                            {{ 'push__general__settings__item'|trans({},'menu') }}
                        </li>
                    </ol>
                    <div class="ez-page-title py-3 px-4">
                        <h1 class="ez-page-title__content-item">
                            <svg class="ez-icon ez-icon-languages">
                                <use xlink:href="/bundles/ezplatformadminui/img/ez-icons.svg#languages"></use>
                            </svg>
                            <span class="ez-page-title__content-name">{{ 'push__general__settings__item'|trans({},'menu') }}</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid ez-main-container container mt-4 px-5">
                <div id="pushConnectorSettingsAlerts">
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <ul>
                                <li>
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}

                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">
                            <a class="close" data-dismiss="alert" href="#">&times;</a>
                            <ul>
                                <li>
                                    {{ message }}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>

                {% if access_denied is defined %}
                    {{ 'push.view.access_denied'|trans|desc('You are not allowed to access this view. Please contact the website administrator') }}
                {% else %}
                    {% form_theme form '@ezdesign/ui/form_fields.html.twig'  %}
                    <div class="display-results">
                        <div class="display-results col-md-6">
                            <div class="form-group ">
                                {{ form_start(form, { 'attr': {'novalidate': 'novalidate'} }) }}
                                {{ form_end(form) }}
                                <small>{{ 'required'|trans|desc('* Required') }}</small>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}